<% @carted_drones.each do |carted_drone| %>
  <h2>Drone: <%= carted_drone.drone.name %> Quantity: <%= carted_drone.quantity %>
    <%= link_to "remove", "/carted_drones/#{carted_drone.id}", method: :delete %>
  </h2>
<% end %>

<%= link_to "Buy Now", "/orders", method: :post, class: "btn btn-primary" %>

