<h3>Bought By:</h3><%= @order.user.name %>
<h3>Subtotal:</h3> <%= number_to_currency(@order.subtotal) %>
<h3>Tax:</h3> <%= number_to_currency(@order.tax) %>
<h3>Total:</h3> <%= number_to_currency(@order.total) %>
