<h1>New Drone</h1>
<%= form_tag "/drones", method: :post do %>
<div>
  Brand / Model <input type="text" name="name">
</div>
<div>
  Description <input type="text" name="description">
</div>
<div>
  Price <input type="text" name="Price">
</div>
<div>
  <input type="Fly it!" name="Fly it!">
</div>

<% end %>