<h1>New Drone</h1>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Brand / Model</label>
    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="Brand/Model">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <input type="description" class="form-control" id="exampleInputPassword1" placeholder="Tell me about it">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Price</label>
    <input type="price" class="form-control" id="exampleInputPassword1" placeholder="How much is it?">
  </div>
  <div>
    <select name="supplier_id">
    <option value=""></option>
    
    </select>
  </div>
  <input type="submit" value="Fly it!">
</form>



